@import "app/theme/app-theme";

html, body {
  height: 100%;
}

router-outlet ~ * {
  position: absolute;
  top: 64px;
  bottom: 58px;
  left: 0;
  right: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
