:host {
  z-index: 1;
}

mat-toolbar {
  #title {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .navbar-btn {
    height: 100%;
    line-height: 64px;
  }
}
