<mat-toolbar color="primary">

  <a mat-button routerLink="./home" class="toolbar-btn" id="title">App Title</a>
  <span class="spacer"></span>
  <div *ngIf="accountService.user != undefined">
    <button mat-button [matMenuTriggerFor]="menu" class="toolbar-btn">
      <mat-icon>person</mat-icon>
      {{accountService.user.username}}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" overlapTrigger="false">
      <button mat-menu-item (click)="toggleTheme()">
        <mat-icon>brightness_4</mat-icon>
        <span *ngIf="!settingsService.settings.isLightTheme">Toggle light theme</span>
        <span *ngIf="settingsService.settings.isLightTheme">Toggle dark theme</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>notifications_off</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  <div *ngIf="accountService.user == undefined">
    <button mat-button class="toolbar-btn" routerLink="./login">Login</button>
  </div>


</mat-toolbar>
